<template name="newReview">

	{{> appErrors}}

	<form name="comment" class="list-form review-form">
		<div class="form-group">
			<textarea class="form-control" name="body" rows="1" placeholder="{{t9n 'Leave a review'}}" style="resize: none;"></textarea>
		</div>
		<div class="form-group" style="display: none">
			<input type="hidden" name="score" value="0"/>
			<span class="fa fa-fw fa-thumbs-o-down" title="{{t9n 'Bad'}}"></span>&nbsp;&nbsp;&nbsp;<span class="rating rating-lg"><span class="star" data-score="5"></span><span class="star" data-score="4"></span><span class="star" data-score="3"></span><span class="star" data-score="2"></span><span class="star" data-score="1"></span></span>&nbsp;&nbsp;&nbsp;<span class="fa fa-fw fa-thumbs-o-up" title="{{t9n 'Excellent'}}"></span>
			<button type="submit" class="btn btn-primary submit pull-right">{{t9n 'Send'}}</button>
		</div>
	</form>

</template>
