<template name="contacts">

	{{> pageHeader}}

	<div class="container site-content">
		<h1>{{t9n 'Our Contacts'}}</h1>
		<p>Наша биржа предоставляет заказчикам возможность прямого неограниченного общения с авторами. Это не только уменьшает время обработки заказа, но и сводит к минимуму ошибки в постановке задачи - известную проблему "испорченного телефона" при обработке заказов операторами. И, конечно же, трудно себе представить этап сдачи-приема работы и устранения замечаний без прямого общения заказчика с исполнителем.</p>
		<p>Наша биржа предоставляет заказчикам возможность прямого неограниченного общения с авторами. Это не только уменьшает время обработки заказа, но и сводит к минимуму ошибки в постановке задачи - известную проблему "испорченного телефона" при обработке заказов операторами. И, конечно же, трудно себе представить этап сдачи-приема работы и устранения замечаний без прямого общения заказчика с исполнителем.</p>
		<p>Наша биржа предоставляет заказчикам возможность прямого неограниченного общения с авторами. Это не только уменьшает время обработки заказа, но и сводит к минимуму ошибки в постановке задачи - известную проблему "испорченного телефона" при обработке заказов операторами. И, конечно же, трудно себе представить этап сдачи-приема работы и устранения замечаний без прямого общения заказчика с исполнителем.</p>
		<p>Наша биржа предоставляет заказчикам возможность прямого неограниченного общения с авторами. Это не только уменьшает время обработки заказа, но и сводит к минимуму ошибки в постановке задачи - известную проблему "испорченного телефона" при обработке заказов операторами. И, конечно же, трудно себе представить этап сдачи-приема работы и устранения замечаний без прямого общения заказчика с исполнителем.</p>
		<p>Наша биржа предоставляет заказчикам возможность прямого неограниченного общения с авторами. Это не только уменьшает время обработки заказа, но и сводит к минимуму ошибки в постановке задачи - известную проблему "испорченного телефона" при обработке заказов операторами. И, конечно же, трудно себе представить этап сдачи-приема работы и устранения замечаний без прямого общения заказчика с исполнителем.</p>
	</div>
	
</template>
