<template name="home">

	<div class="site-home">

		{{#siteHeader}}
			{{>entrySignInForm}}
		{{/siteHeader}}

		<div class="container site-content home-features" id="main-features">

			<div class="row feature">
				<div class="col-xs-12 col-md-5">
					<img class="img-responsive" src="/img/feature1.png"/>
				</div>
				<div class="col-xs-12 col-md-7">
					<h1>Прямое общение</h1>
					<h4>Наша биржа предоставляет заказчикам возможность прямого неограниченного общения с авторами. Это не только уменьшает время обработки заказа, но и сводит к минимуму ошибки в постановке задачи - известную проблему "испорченного телефона" при обработке заказов операторами. И, конечно же, трудно себе представить этап сдачи-приема работы и устранения замечаний без прямого общения заказчика с исполнителем.</h4>
				</div>
			</div>

			<div class="row feature">
				<div class="col-xs-12 col-md-7">
					<h1>Оперативность и мобильность</h1>
					<h4>Наша биржа предоставляет заказчикам возможность прямого неограниченного общения с авторами. Это не только уменьшает время обработки заказа, но и сводит к минимуму ошибки в постановке задачи - известную проблему "испорченного телефона" при обработке заказов операторами. И, конечно же, трудно себе представить этап сдачи-приема работы и устранения замечаний без прямого общения заказчика с исполнителем.</h4>
				</div>
				<div class="col-xs-12 col-md-5">
					<img class="img-responsive" src="/img/feature1.png"/>
				</div>
			</div>

			<div class="row feature">
				<div class="col-xs-12 col-md-5">
					<img class="img-responsive" src="/img/feature1.png"/>
				</div>
				<div class="col-xs-12 col-md-7">
					<h1>Экономия денег</h1>
					<h4>Наша биржа предоставляет заказчикам возможность прямого неограниченного общения с авторами. Это не только уменьшает время обработки заказа, но и сводит к минимуму ошибки в постановке задачи - известную проблему "испорченного телефона" при обработке заказов операторами. И, конечно же, трудно себе представить этап сдачи-приема работы и устранения замечаний без прямого общения заказчика с исполнителем.</h4>
				</div>
			</div>

			<div class="row feature">
				<div class="col-xs-12 col-md-7">
					<h1>Гарантии и решение споров</h1>
					<h4>Наша биржа предоставляет заказчикам возможность прямого неограниченного общения с авторами. Это не только уменьшает время обработки заказа, но и сводит к минимуму ошибки в постановке задачи - известную проблему "испорченного телефона" при обработке заказов операторами. И, конечно же, трудно себе представить этап сдачи-приема работы и устранения замечаний без прямого общения заказчика с исполнителем.</h4>
				</div>
				<div class="col-xs-12 col-md-5">
					<img class="img-responsive" src="/img/feature1.png"/>
				</div>
			</div>

			<div class="row feature">
				<div class="col-xs-12 col-md-5">
					<img class="img-responsive" src="/img/feature1.png"/>
				</div>
				<div class="col-xs-12 col-md-7">
					<h1>Магазин готовых работ</h1>
					<h4>Наша биржа предоставляет заказчикам возможность прямого неограниченного общения с авторами. Это не только уменьшает время обработки заказа, но и сводит к минимуму ошибки в постановке задачи - известную проблему "испорченного телефона" при обработке заказов операторами. И, конечно же, трудно себе представить этап сдачи-приема работы и устранения замечаний без прямого общения заказчика с исполнителем.</h4>
				</div>
			</div>

		</div> <!-- coming-soon-features -->


		<div class="site-bg site-bottom">

			<div class="container">
				<h1>Интересные факты о нас</h1>
				<div class="row">
					<div class="col-xs-12 col-md-4">
						<div class="transparent-panel">
							Наша биржа предоставляет заказчикам возможность прямого неограниченного общения с авторами. Это не только уменьшает время обработки заказа, но и сводит к минимуму ошибки в постановке задачи.
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="transparent-panel">
							Наша биржа предоставляет заказчикам возможность прямого неограниченного общения с авторами. Это не только уменьшает время обработки заказа, но и сводит к минимуму ошибки в постановке задачи.
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="transparent-panel">
							Наша биржа предоставляет заказчикам возможность прямого неограниченного общения с авторами. Это не только уменьшает время обработки заказа, но и сводит к минимуму ошибки в постановке задачи.
						</div>
					</div>
				</div>
			</div>

		</div> <!-- site-bottom -->

	</div> <!-- coming-soon-content -->
	
</template>
